/* app css stylesheet */

a {
  text-decoration: none !important;
  cursor: pointer;
}

h2, h4, p {
  font-family: 'Raleway' !important;
}

header {
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.navibar {
  font: normal 1.4em 'Raleway', Arial, sans-serif;
  font-weight: 600;
}

.navibar a {
  color: rgb(205, 205, 205);
}

.navibar a:hover, .navibar a:focus, .navibar a:active, .navibar .active {
  color: rgb(0, 0, 0);
}

footer {
  text-align: center;
  font: normal 100% 'Raleway', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  border-top: 2em solid rgb(255, 255, 255);
  border-bottom: 2em solid rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer ul {
  display: inline;
  padding: 0;
}

footer li {
  display: inline;
}

.ext-icon {
  width: 32px;
  margin: 0 5px;
}

#home-img {
  background-position: 60% 50%;
  background-size: cover;
  max-width: 100vw;
  position: relative;
}

#home-caption {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  font: 400 1em Raleway, Arial, sans-serif;
  color: rgb(245, 245, 245);
}

.container-overflow {
  overflow: scroll;
  height: auto;
}

.row-md {
  border-bottom: 1px dotted rgb(225, 225, 225);
}

.col-md-5 {
  background-position: 50% 50%;
  height: 35vh;
  margin: 2.5vh 15px;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
}

.col-md-3 {
  height: auto;
  margin: 2.5vh 0;
}

.links-md-3 {
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.margin-bottom {
  margin-bottom: 15px;
}

.tag {
  font: normal 100% 'Raleway', Arial, sans-serif;
  margin: 5px 5px 5px 0;
  background-color: rgb(205, 205, 205) !important;
  cursor: pointer !important;
}

.list-inline {
  margin-left: 0 !important;
}

.headline {
  font-weight: 600;
}

.subhead {
  color: rgb(150, 150, 150);
  margin-bottom: 25px;
}

.metadata {
  color: rgb(150, 150, 150);
  text-align: center;
}

.read-more {
  font-weight: 600;
  font-family: 'Raleway', Arial, sans-serif;
  color: rgb(150, 150, 150);
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.collage {
  max-width: 100vw;
  margin-bottom: 30px;
}

.pic {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

.collage-1 {
  top: 0;
  left: 1%;
  width: 20%;
  height: 25%;
}

.collage-2 {
  z-index: 1;
  top: 7.5%;
  left: 20%;
  width: 50%;
  height: 30%;
}

.collage-3 {
  top: 2.5%;
  left: 65%;
  width: 30%;
  height: 30%;
}

.collage-4 {
  top: 70%;
  left: 2.5%;
  width: 30%;
  height: 30%;
}

.collage-5 {
  top: 70%;
  left: 69%;
  width: 30%;
  height: 30%;
}

.collage-6 {
  z-index: 2;
  top: 35%;
  left: 8%;
  width: 80%;
  height: 38%;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

  /*==========  Mobile First Method  ==========*/

  /* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {
    header {
      border-top: 15px solid rgb(205, 205, 205);
      padding: 20px 0;
    }

    #home-img {
      height: calc(100vh - 122px);
    }

    .logo {
      width: 60px;
      height: 67px;
    }

    a.logo {
      margin-left: 15px;
      margin-right: 20px;
      float: left;
      width: 60px;
      height: 67px;
    }

    .menu {
      width: 30px;
      height: 22px;
      cursor: pointer;
    }

    a.menu {
      margin: 0 20px 0 0;
      float: right;
      width: 30px;
      height: 22px;
      line-height: 67px;
    }

    .glyphicon {
      font-size: 1.8em;
      vertical-align: middle;
      color: rgb(0, 0, 0);
    }

    .navibar {
      /*display: none;*/
      clear: left;
      width: 100%;
      list-style: none;
      padding: 0;
    }

    .navibar li {
      background-color: rgb(245, 245, 245);
      border: 1px solid rgb(255, 255, 255);
      padding: 0 0 0 30px;
    }

    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .row-md {
      padding-bottom: 20px;
    }

    footer {
      bottom: auto;
      height: 175px;
    }

    .collage {
      height: calc(100vh - 200px);
    }
  }

  @media only screen and (orientation:portrait) and (min-width : 320px) {

  }

  @media only screen and (orientation:landscape) and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    header {
      position: fixed;
      z-index: 3;
      border-top: 30px solid rgb(205, 205, 205);
      padding: 30px 0;
    }

    section {
      position: relative;
      margin-top: 201px;
    }
    
    #home-img {
      height: calc(100vh - 201px);
    }

    .logo {
      width: 100px;
      height: 111px;
    }

    a.logo {
      margin: 0 70px;
      float: left;
      width: 100px;
      height: 111px;
    }

    .menu {
      display: none;
    }

    .navibar {
      display: inline !important;
      line-height: 111px;
    }

    .navibar li {
      display: inline;
      margin: 0 6.0435132957292505% 0 0;
      background-color: rgb(255, 255, 255);
      padding: 0;
    }

    /*.container-overflow {
      height: 70vh;
    }*/

    .row-md {
      height: auto;
      margin-top: 5vh;
    }

    footer {
      height: 150px;
    }

    .collage {
      height: calc(100vh - 201px);
    }

    .collage-6 {
      left: 16%;
      width: 60%;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }
