<div class="container-overflow">
  <div class="row row-md" ng-repeat="post in blogPosts | orderBy:'-date'">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="headline">{{post.headline}}</h2>
      <h4 class="subhead">{{post.subhead}}</h4>
      <p class="metadata">{{post.dateFormatted}}</p>
      <blog-post post-chr-limit="post.chrLimit" post-body="post.body" post-read-more=false></blog-post>
      <ul class="list-inline">
        <li class="btn btn-default tag" ng-repeat="tag in post.tags">
          {{tag}}
        </li>
      </ul>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm"></div>
  </div>
</div>