 <div class="container-overflow">
  <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 collage">
    <div class="pic collage-1" title="Buddy" alt="Buddy the Dog"></div>
    <div class="pic collage-2" title="Jackson Sierra at Agua Caliente" alt="Jackson Sierra at Agua Caliente"></div>
    <div class="pic collage-3" title="Baby Jackson Sierra and Katy Lawson" alt="Baby Jackson Sierra and Katy Lawson"></div>
    <div class="pic collage-4" title="Jackson Sierra and Christina Ruetz" alt="Jackson Sierra and Christina Ruetz"></div>
    <div class="pic collage-5" title="Jackson Sierra and US Congresswoman Jackie Speier" alt="Jackson Sierra and US Congresswoman Jackie Speier"></div>
    <div class="pic collage-6" title="Dennis-Speier-Sierra Family" alt="Dennis-Speier-Sierra Family"></div>
  </div>
  <div class="col-md-3">
    <p ng-bind-html="descrip"></p>
  </div>
</div>
