 <div class="container-overflow">
  <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 collage">
    <img class="spinner col-xs-offset-5" src="../img/spinner.min.gif" ng-show="loading" />
    <div ng-repeat="image in images" style="background-image: url({{image.path}})" class="pic collage-{{$index+1}}" title={{image.title}} alt={{image.title}}></div>
  </div>
  <div class="col-md-3">
    <p>
      <strong>Jackson Sierra</strong> is a software engineer and thought partner interested in tackling civic and socioeconomic problems through the use of technology.<br>
      <br>
      His studies in economics in the heart of Silicon Valley saw him pursue a career in the technology industry at a startup where he did strategy and data analysis.<br>
      <br>
      His time there ultimately showed him the incredible impact one can have building technology that enables the masses.  As such, he was driven to learn computer programming to accomplish that goal.
    </p>
  </div>
</div>
